
src/Dasigno/.vs/

src/Dasigno/Dasigno.Api/obj/

src/Dasigno/Domain/Dasigno.Domain/obj/

src/Dasigno/Domain/Dasigno.Domain/bin/

src/Dasigno/Dasigno.Api/bin/

src/Dasigno/Infrastructure/Dasigno.Infrastructure.Persistence/bin/

src/Dasigno/Infrastructure/Dasigno.Infrastructure.Persistence/obj/

src/Dasigno/Presentation/Dasigno.User.Api/bin/

src/Dasigno/Presentation/Dasigno.User.Api/obj/

src/Dasigno/.idea/

src/Dasigno/Application/Dasigno.Application/obj/

src/Dasigno/Application/Dasigno.Application/bin/
